*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#msg{
    width: 100%;
    text-align: center;
}
.align-clock{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    overflow-y: auto;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.625);
}
.alarm-bar{
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
svg{
    fill:blue;
}
#add-alarm{
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color:rgb(72, 75, 253);
    background-color: rgba(102, 102, 102, 0.638);
}
.alarm-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:5px;
}
#set-alarm,#unset-alarm,#remove-alarm{
    background-color: black;
    border:none;
    height:100%;

}
#set-alarm>svg{
    fill:green;
}
#unset-alarm>svg{
    fill:rgba(255, 255, 0, 0.673);
}
#remove-alarm>svg{
    fill:red
}
.alarmList{
    list-style: none;
}
.alarmList>li{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin:10px;
}
.alarmClock{
    display: flex;
    flex-direction: row;
}
.alarmClock>input{
    border: none;
    font-size:20px;
    text-align: center;
    border:2px solid white;
    background-color: black;
    color:white;
}
.days{
    margin-left: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    height: 50px;
    overflow-y: auto;
    overflow-x: hidden;

}
.config-btn{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
#add-reminder{
    background-color: rgba(102, 102, 102, 0.638);
    height: 50px;
    width: 50px;
    border:none;
    border-radius: 50%;
}
#add-reminder>svg{
    fill:rgb(72, 75, 253);
    width: 30px;
    height: 30px;
}
.day-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#add-label{
    width:60px;
    height: 100%;
    background-color: black;
    border:2px solid white;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}
@media (max-width:700px) {
    .align-clock{
        margin: 0;
    }
    .container{
        margin:0;
        padding:0;
        border-radius: 0;
        width: 100vw;
        height:100vh;
    }
    .alarm-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}